html {
  font-family: 'IBM Plex Sans', sans-serif;
}

.header {
  background-color: #ddd;
}

.near {
  background-color: #efefef;
}

.card {
  background-color: #fff;
}

.tables {
  background-color: #fff;
}
